@import url("<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">")

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body {
	font-family: "Montserrat", sans-serif;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

#top {
	width: 1668px;
}

.left {
	position: absolute;
	left: 16px;
}

.text {
	position:relative;
}

.brand {
	padding: 20px;
	text-align: justify;
	position: absolute;
	top: 50%;
	right: 81%;
	transform:translate(50%,-50%);
}

#stay {
	font-family: "Montserrat", sans-serif;
	color: rgb(228,205,123);
	font-size: 36px;
	font-weight: bold;
}


.deals {
	padding: 20px;
	text-align: justify;
	position: absolute;
	top: 50%;
	right: 64%;
	transform:translate(50%,-50%);
}

#page {
	font-family: "Montserrat", sans-serif;
	color: rgb(255,255,255);
	font-size: 24px;
}

.my {
	padding: 20px;
	text-align: justify;
	position: absolute;
	top: 50%;
	right: 47%;
	transform:translate(50%,-50%);
}

.account {
	padding: 20px;
	text-align: justify;
	position: absolute;
	top: 50%;
	right: 13%;
	transform:translate(50%,-50%);
}

#barre {
	width:1000px;

}

.btn-blue {
	background-color: rgb(32,60,76);
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	margin-right: 1148px;
}